<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/logo.jpg" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/kapcsolat">Kapcsolat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ingatlanjaink">Ingatlanjaink</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Szolgáltatások
            </a>
            <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
              <li><a class="dropdown-item" href="#">Minta Menü 1</a></li>
              <li><a class="dropdown-item" href="#">Minta Menü 2</a></li>
              <li><a class="dropdown-item" href="#">Minta Menü 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
