.container {

}

app-image-slider, app-realestate-info {
  flex: 1; /* This evenly distributes space between the two components */
  margin: 10px; /* Optional: add margins to increase spacing between components */
}

@media (max-width: 1250px) {
  .container {
    flex-direction: column; /* This places the slider below the text on smaller screens */
  }
  .contact-container {
    max-width: 95%;
  }
}
 .realestate-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Use 'flex-start' or 'center' if necessary */
  align-items: center; /* Use 'center' if necessary */
  justify-self: center;
  border-radius: 8px;
  border: 1px solid black;
 }
