<body>
  <div class="home-container">
      <div class="text-container">
          <div class="title">
              <span>BY PREMIUM HOME</span>
          </div>
          <div class="subtitle">
              <span>Ingatlan iroda</span>
          </div>
          <div class="text-item">
              <i class="bi bi-check-circle-fill icon"></i>
              <span class="text">Gyors, szakszerű ingatlanértékesítés</span>
          </div>
          <div class="text-item">
              <i class="bi bi-check-circle-fill icon"></i>
              <span class="text">Megbízható, családias</span>
          </div>
          <div class="text-item">
              <i class="bi bi-check-circle-fill icon"></i>
              <span class="text">Kedvező jutalék</span>
          </div>
          <div class="text-item">
              <i class="bi bi-check-circle-fill icon"></i>
              <span class="text">Ügyvédi háttér, energetika</span>
          </div>
          <div class="text-item">
              <i class="bi bi-check-circle-fill icon"></i>
              <span class="text">Ingyenes hitelügyintézés</span>
          </div>
      </div>
      <div class="image-container">
        <img src="/assets/ingatlan-home.jpg" alt="Real Estate Image">
    </div>
  </div>
  <div class="home-container">
    <span class="text-item">
      Kis létszámú csapatunk a legnagyobb odafigyeléssel, precizitással és szakértelemmel dolgozik érted!
      Tisztában vagyunk vele, hogy az ingatlanvásárlás és eladás életed egyik legfontosabb döntése,
       ezért minden ügyfelünknek egyedi és személyre szabott megoldásokat kínálunk.
    </span>
  </div>
</body>
