
.contact-container {
    background-color: white;
    padding: 20px;

}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #c8a47b;
    font-size: large;
}

.icon {
    font-size: 50px;
    margin-right: 20px;
    color: #3de0d2;
}

.map iframe {
    width: 70%;
    height: 450px;
    border-radius: 8px;
    border: 5px solid #3de0d2;
}
 iframe {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }

.map {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
    .contact-container {
        max-width: 95%;
    }
   .map iframe {
        width: 100%;
    }}
