
<body>
    <div class="contact-container">
        <div class="contact-info">
            <div class="contact-item">
                <i class="bi bi-telephone-fill icon"></i>
                <span>+36 30 242 2755</span>
            </div>
            <div class="contact-item">
                <i class="bi bi-envelope-at-fill icon"></i>
                <span>{{ 'bypremiumhomeby@premiumhome.hu' }}</span>
            </div>
            <div class="contact-item">
                <i class="bi bi-building-fill icon" ></i>
                <span>Kiscelli köz 18, Budapest, Hungary</span>
            </div>
        </div>
        <div class="map">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10749.73527412778!2d19.0148875055822!3d47.52862438952864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc3bca0f1d7d%3A0x6864b9d20d61021d!2sKiscelli%20k%C3%B6z%2018%2C%20Budapest%2C%201037%2C%20Hungary!5e0!3m2!1sen!2sus!4v1629461818662!5m2!1sen!2sus" 
                allowfullscreen="" 
                loading="lazy"></iframe>
        </div>
    </div>
</body>

