body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.contact-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #c8a47b;
    font-size: large
}

.icon {
    font-size: 50px;
    margin-right: 50px;
    color: #3de0d2;
}

.map iframe {
    width: 100%;
    height: 450px;
    border-radius: 8px;
    border: 5px solid #c8a47b;
}
